- var pageTitle = 'Scoreboard'
include components/header
include components/navbar

.container.mt-5
	if error
		.alert.alert-danger #{error}
	if success
		.alert.alert-success #{success}	
	table.table
		thead
			tr
				th Position
				th Name
				th Score
				th Flags Submitted
		tbody
			each user, index in users
				tr
					td #{index + 1}
					td #{user.name}
					td #{user.score}
					td
						each flag in Array(totalAvailableFlags)
							if user.num_flags > 0
								span &#x2705; 
								- user.num_flags--
							else
								span &#x274C; 
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js')
script.
	// Refresh the page every minute (hack to update the scoreboard)
	setInterval(function() {
		location.reload();
	}, 60000);
include components/footer
